<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
button {
  width: 100px;
}

img {
  border-radius: 5px;
  padding: 5px;
}

img:hover {
  background: var(--bs-primary);
  border-radius: 5px;
  padding: 5px;
}

.bookmark-list-name:hover {
  background: var(--bs-primary);
}
</style>
<title>Save your bookmarks!</title>
<link href="header.css" rel="stylesheet"></link>
<link rel="icon" type="image/svg+xml" href="favicon.svg">
