<!DOCTYPE HTML>
<html>
<head>
<%- include('header.ejs') %>
</head>
<body>
<script type='text/jsx'>
  class SaveButton extends React.Component {
    render () {
      return (
        <button onClick={saveBookmark} className='btn-sm btn-outline-primary'>
          Save
        </button>
      );
    }
  }

  class DeleteButton extends React.Component {
    render () {
      return (
        <button onClick={() => deleteBookmarkWhere(this.props.url)}
                className='btn-sm btn-outline-primary'>
          Delete
        </button>
      );
    }
  }

  class TableRow extends React.Component {
    render () {
      return (
        <tr>
          <td>{this.props.title}</td>
          <td><a href={this.props.url}>{this.props.url}</a></td>
          <td><DeleteButton url={this.props.url}/></td>
        </tr>
      );
    }
  }

  class TableRowInput extends React.Component {
    renderInput(id, placeholder) {
      return (
        <input type='text' className='form-control-sm'
               id={id} placeholder={placeholder}>
        </input>
      );
    }

    render () {
      return (
        <tr>
          <td>{this.renderInput('bookmark-title', 'Title')}</td>
          <td>{this.renderInput('bookmark-url', 'Link')}</td>
          <td><SaveButton/></td>
        </tr>
      );
    }
  }

  function saveBookmark() {
    const titleInput = document.getElementById('bookmark-title');
    const urlInput = document.getElementById('bookmark-url');
    const messageDiv = document.getElementById('message-div');
    axios.post('/savebookmark', {'title': titleInput.value, 'url': urlInput.value})
      .then((response) => {
        const message = response.data.message;
        if (message) {
          messageDiv.innerHTML = message;
        }
        titleInput.value = '';
        urlInput.value = '';
        loadBookmark();
      })
      .catch((err) => console.log(err));
  }

  function loadBookmark() {
    axios.get('/loadbookmark').then((response) => {
      const tableRows = [<TableRowInput/>];
      for (let row of response.data) {
        tableRows.push(<TableRow title={row.title} url={row.url}/>);
      }
      ReactDOM.render(tableRows, document.getElementById('bookmark-table-body'));
    });
  }

  function deleteBookmarkWhere(url) {
    console.log("Delete where url=" + url);
    axios.post('/deletebookmarkwhere', {'url': url})
      .then(loadBookmark)
      .catch((err) => {console.log(err);});
  }

  loadBookmark();
</script>
<div class="col-lg-8 mx-auto py-md-5">
  <h4>Save your bookmarks!</h4>
  <span id='message-div'></span>
  <table id='bookmark-table' class='table'>
    <thead><tr>
      <td>Title</td><td>Link</td><td>Action</td>
    </thead></tr>
    <tbody id='bookmark-table-body'></tbody>
  </table>
</div>
</body>
</html>
