<!DOCTYPE HTML>
<html>
<head>
<%- include('header.ejs') %>
</head>
<body>
<script>
  const e = React.createElement;

  class SaveButton extends React.Component {
    render () {
      return e(
        'button',
        { onClick: saveBookmark,
          className: 'btn-sm btn-outline-primary' },
        'Save'
      );
    }
  }

  class DeleteButton extends React.Component {
    render () {
      return e(
        'button',
        { onClick: () => deleteBookmarkWhere(this.props.url),
          className: 'btn-sm btn-outline-primary' },
        'Delete'
      );
    }
  }

  class TableRow extends React.Component {
    render () {
      return e('tr', {},
        e('td', {}, this.props.title),
        e('td', {}, e('a', {href: this.props.url}, this.props.url)),
        e('td', {}, e(DeleteButton, { url: this.props.url })),
      );
    }
  }

  class TableRowInput extends React.Component {
    renderInput(id, placeholder) {
      return e('input', { type: 'text', className: 'form-control-sm', id, placeholder });
    }

    render () {
      return e('tr', {},
        e('td', {}, this.renderInput('bookmark-title', 'Title')),
        e('td', {}, this.renderInput('bookmark-url', 'Link')),
        e('td', {}, e(SaveButton))
      );
    }
  }

  function saveBookmark() {
    const titleInput = document.getElementById('bookmark-title');
    const urlInput = document.getElementById('bookmark-url');
    const messageDiv = document.getElementById('message-div');
    axios.post('/savebookmark', {'title': titleInput.value, 'url': urlInput.value})
      .then((response) => {
        const message = response.data.message;
        if (message) {
          messageDiv.innerHTML = message;
        }
        titleInput.value = '';
        urlInput.value = '';
        loadBookmark();
      })
      .catch((err) => console.log(err));
  }

  function loadBookmark() {
    axios.get('/loadbookmark').then((response) => {
      const tableRows = [e(TableRowInput)];
      for (let row of response.data) {
        tableRows.push(e(TableRow, { title: row.title, url: row.url }));
      }
      ReactDOM.render(tableRows, document.getElementById('bookmark-table-body'));
    });
  }

  function deleteBookmarkWhere(url) {
    console.log("Delete where url=" + url);
    axios.post('/deletebookmarkwhere', {'url': url})
      .then(loadBookmark)
      .catch((err) => {console.log(err);});
  }

  loadBookmark();
</script>
<div class="col-lg-8 mx-auto py-md-5">
  <h4>Save your bookmarks!</h4>
  <span id='message-div'></span>
  <table id='bookmark-table' class='table'>
    <thead><tr>
      <td>Title</td><td>Link</td><td>Action</td>
    </thead></tr>
    <tbody id='bookmark-table-body'></tbody>
  </table>
</div>
</body>
</html>
