<!DOCTYPE HTML>
<html>
<head>
<%- include('header.ejs') %>
</head>
<body>
<script type='text/jsx'>
  class SaveButton extends React.Component {
    render () {
      return (
        <button onClick={this.props.saveBookmark} className='btn-sm btn-outline-primary'>
          Save
        </button>
      );
    }
  }

  class SearchButton extends React.Component {
    render () {
      return (
        <button onClick={this.props.searchBookmark} className='btn-sm btn-outline-primary'>
          Search
        </button>
      );
    }
  }

  class DeleteButton extends React.Component {
    render () {
      return (
        <button onClick={() => deleteBookmarkWhere(this.props.url)}
                className='btn-sm btn-outline-primary'>
          Delete
        </button>
      );
    }
  }

  class TableRow extends React.Component {
    render () {
      return (
        <tr>
          <td>{this.props.title}</td>
          <td><a href={this.props.url}>{this.props.url}</a></td>
          <td><DeleteButton url={this.props.url}/></td>
          <td>
            <button onClick={() => this.props.editBookmark()}
                    className='btn-sm btn-outline-primary'>
              Edit
            </button>
          </td>
        </tr>
      );
    }
  }

  class TitleInput extends React.Component {
    render() {
      return (
        <input type='text' className='form-control-sm'
               placeholder={this.props.placeholder}
               value={this.props.value}
               contentEditable='true'
               onChange={this.props.onChange}>
        </input>
      );
    }
  }

  class TableRowInput extends React.Component {
    render () {
      console.log("Table row input: " + this.props.title);
      return (
        <tr>
          <td><TitleInput placeholder='Title' value={this.props.title} onChange={this.props.onChangeTitle}/></td>
          <td><TitleInput placeholder='Link'  value={this.props.url  } onChange={this.props.onChangeURL}/></td>
          <td><SaveButton saveBookmark={this.props.saveBookmark}/></td>
          <td><SearchButton searchBookmark={this.props.searchBookmark}/></td>
        </tr>
      );
    }
  }

  class TableBody extends React.Component {
    constructor(props) {
      super(props);
      this.state = {title: '', url: '', search_title: '', search_url: ''};
    }

    searchBookmark() {
      const search_title = this.state.title;
      const search_url = this.state.url;
      this.setState({...this.state, search_title, search_url});
    }

    editBookmark(title, url) {
      console.log("Edit bookmark " + title + ", " + url);
      this.setState({...this.state, title, url});
    }

    onChangeTitle(e) {
      console.log("new title = " + e.target.value);
      this.setState({...this.state, title: e.target.value});
    }

    onChangeURL(e) {
      console.log("new url = " + e.target.value);
      this.setState({...this.state, url: e.target.value});
    }

    render() {
      console.log("Render state: " + this.state.title + ", " + this.state.url);
      const tableRows = [<TableRowInput title={this.state.title} url={this.state.url}
                                        onChangeTitle={e => this.onChangeTitle(e)}
                                        onChangeURL={e => this.onChangeURL(e)}
                                        saveBookmark={() => this.saveBookmark()}
                                        searchBookmark={() => this.searchBookmark()}/>];
      for (let row of this.props.rows) {
        if (row.title.includes(this.state.search_title) &&
            row.url.includes(this.state.search_url)) {
          tableRows.push(<TableRow title={row.title} url={row.url}
                                   editBookmark={() => this.editBookmark(row.title, row.url)}/>);
        }
      }
      return tableRows;
    }

    saveBookmark() {
      const messageDiv = document.getElementById('message-div');
      console.log("Save bookmark " + this.state.title + ", " + this.state.url);
      axios.post('/savebookmark', {'title': this.state.title, 'url': this.state.url})
        .then((response) => {
          const message = response.data.message;
          if (message) {
            messageDiv.innerHTML = message;
          }
          this.setState({...this.state, title: '', url: ''});
          loadBookmark();
        })
        .catch((err) => console.log(err));
    }

  }

  function loadBookmark() {
    axios.get('/loadbookmark').then((response) => {
      ReactDOM.render(<TableBody rows={response.data}/>, document.getElementById('bookmark-table-body'));
    });
  }

  function deleteBookmarkWhere(url) {
    console.log("Delete where url=" + url);
    axios.post('/deletebookmarkwhere', {'url': url})
      .then(loadBookmark)
      .catch((err) => {console.log(err);});
  }

  loadBookmark();
</script>
<div class="col-lg-8 mx-auto py-md-5">
  <h4>Save your bookmarks!</h4>
  <span id='message-div'></span>
  <table id='bookmark-table' class='table'>
    <thead><tr>
      <td>Title</td><td>Link</td><td>Action</td>
    </thead></tr>
    <tbody id='bookmark-table-body'></tbody>
  </table>
</div>
</body>
</html>
