<!DOCTYPE HTML>
<html>
<head>
<%- include('header.ejs') %>
</head>
<body>
<script type='text/jsx'>

  class TableRow extends React.Component {
    constructor(props) {
      super(props);
      this.state = {edit: false};
    }

    startEdit() {
      this.setState({edit: true});
    }

    cancelEdit() {
      delete this.title;
      delete this.url;
      this.setState({edit: false});
    }

    saveEdit() {
      if (!this.title && !this.url) return;
      const save_title = this.title || this.props.title;
      const save_url = this.url || this.props.url;
      console.log("id = " + this.props.id);
      this.props.editBookmark(save_title, save_url, this.props.id);
      this.cancelEdit();
    }

    changeTitle(e) {
      this.title = e.target.value;
    }

    changeURL(e) {
      this.url = e.target.value;
    }

    render () {
      if (this.state.edit) return this.renderEditable();
      return (
        <div class="row mt-1">
          <div class="col">{this.props.title}</div>
          <div class="col"><a href={this.props.url}>{this.props.url}</a></div>
          <div class="col-auto">
            <i class="bi bi-trash mx-2" title="Delete" onClick={() => deleteBookmarkWhere(this.props.id)}></i>
            <i class="bi bi-pencil mx-2" title="Edit" onClick={() => this.startEdit()}></i>
          </div>
        </div>
      );
    }

    renderEditable() {
      return (
        <div class="row mt-1">
          <div class="col">
            <input class="form-control" type="text"
                   defaultValue={this.props.title}
                   onChange={(e) => this.changeTitle(e)}>
            </input>
          </div>
          <div class="col">
            <input class="form-control" type="text"
                   defaultValue={this.props.url}
                   onChange={(e) => this.changeURL(e)}>
            </input>
          </div>
          <div class="col-auto">
            <i class="bi bi-x-lg mx-2" onClick={() => this.cancelEdit()}></i>
            <i class="bi bi-check-lg mx-2" onClick={() => this.saveEdit()}></i>
          </div>
        </div>
      );
    }
  }

  class TitleInput extends React.Component {
    render() {
      return (
        <input class="form-contro"
               type='text'
               placeholder={this.props.placeholder}
               value={this.props.value}
               contentEditable='true'
               onChange={this.props.onChange}>
        </input>
      );
    }
  }

  class TableRowInput extends React.Component {

    constructor(props) {
      super(props);
      this.state = {title: '', url: ''};
    }

    onChangeTitle(e) {
      this.setState({title: e.target.value});
    }

    onChangeURL(e) {
      this.setState({url: e.target.value});
    }

    startSearch() {
      this.props.searchBookmark(this.state.title, this.state.url);
    }

    saveBookmark() {
      this.props.saveBookmark(this.state.title, this.state.url);
      this.setState({title: '', url: ''});
    }

    render () {
      console.log("Table row input: " + this.props.title);
      return (
        <div class="row">
          <div class="col">
            <TitleInput placeholder='Title' value={this.state.title}
                        onChange={(e) => this.onChangeTitle(e)}/>
          </div>
          <div class="col">
            <TitleInput placeholder='Link'  value={this.state.url  }
                        onChange={(e) => this.onChangeURL(e)}/>
          </div>
          <div class="col-auto">
            <i class="bi bi-search mx-2" title="Search" onClick={() => this.startSearch()}></i>
            <i class="bi bi-save mx-2"   title="Save"   onClick={() => this.saveBookmark()}></i>
          </div>
        </div>
      );
    }
  }

  class TableBody extends React.Component {
    constructor(props) {
      super(props);
      this.state = {search_title: '', search_url: ''};
    }

    searchBookmark(search_title, search_url) {
      this.setState({search_title, search_url});
    }

    render() {
      console.log("Render state: " + this.state.search_title + ", " + this.state.search_url);
      const tableRows = [<TableRowInput title={this.state.search_title} url={this.state.search_url}
                                        searchBookmark={(t, u) => this.searchBookmark(t, u)}
                                        saveBookmark={(t, u) => this.saveBookmark(t, u)}/>];
      const sorted_rows = this.props.rows.slice();
      sorted_rows.sort((b1, b2) => b1.title.localeCompare(b2.title));
      for (let row of sorted_rows) {
        if (row.title.includes(this.state.search_title) &&
            row.url.includes(this.state.search_url)) {
          tableRows.push(<TableRow id={row.id} title={row.title} url={row.url}
                                   saveBookmark={(t, u) => this.saveBookmark(t, u)}
                                   editBookmark={(t, u, id) => this.editBookmark(t, u, id)} />);
        }
      }
      return tableRows;
    }

    saveBookmark(title, url) {
      console.log("Save bookmark " + title + ", " + url);
      if (!title || !url) return;
      const messageDiv = document.getElementById('message-div');
      const init = {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({title, url})
      };
      fetch('/savebookmark', init)
        .then(response => response.text())
        .then(message => {
          messageDiv.innerHTML = message;
          loadBookmark();
        })
        .catch(err => console.log(err));
    }

    editBookmark(title, url, id) {
      console.log("Edit bookmark: id=" + id + ", title=" + title + ", url=" + url);
      if (!title || !url) return;
      const messageDiv = document.getElementById('message-div');
      const init = {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({title, url, id})
      };
      fetch('/editbookmark', init)
        .then(response => response.text())
        .then(message => {
          messageDiv.innerHTML = message;
          loadBookmark();
        })
        .catch((err) => console.log(err));
    }

  }

  function loadBookmark() {
    fetch('/loadbookmark')
      .then(response => response.json())
      .then(data => {
         const tableBody = document.getElementById('bookmark-table');
         ReactDOM.render(<TableBody rows={data}/>, tableBody)
      })
  }

  function deleteBookmarkWhere(id) {
    console.log("Delete bookmark: id=" + id);
    const init = {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({id})
    };
    fetch('/deletebookmarkwhere', init)
      .then(reponse => loadBookmark())
      .catch(err => console.log(err));
  }

  function exportBookmark() {
    window.location = "/exportbookmark";
  }

  loadBookmark();
</script>

<div class="container mt-5">
  <h3>Save your bookmarks!</h3>
  <button onclick="exportBookmark" class="btn-sm btn-outline-primary">Export</button>
  <button href="/logout" class="btn-sm btn-outline-primary">Logout</button>

  <div class="row">
    <div class="col-3">
      <div id='bookmark-lists'></div>
    </div>
    <div class="col-9">
      <div id='bookmark-table'></div>
    </div>
  </div>
</div>

</body>
</html>
