<!DOCTYPE HTML>
<html>
<head>
<%- include('header.ejs') %>
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h3>Save your bookmarks!</h3>
    </div>
    <div class="col-auto">
      <button onclick="exportBookmark()" class="btn-sm btn-outline-primary">Export</button>
      <button href="/logout" class="btn-sm btn-outline-primary">Logout</button>
    </div>
  </div>
  <div id="message-div"></div>
  <div id="bookmark-browser"></div>
</div>
<script src="app.js"></script>
</body>
</html>
